<h1>People</h1>
<div class=table-responsive>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Salutations</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>SSN</th>
        <th>Birth date</th>
        <th>Comment</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody id="peopleTable">
    <% @people.each do |person| %>
      <%= render 'person_row', person: person %>
    <% end %>
  </tbody>
</table>
      <tr>
        <td><%= link_to 'New Person', new_person_path, class:"btn btn-primary", data: { bs_toggle: 'modal', bs_target: '#NewPersonModal', remote: true} %></td>
      </tr>
</div>
<br>


<div class="modal fade" id="NewPersonModal" tabindex="-1" aria-labelledby="NewPersonModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NewPersonModalLabel">Create New Person</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="NewPersonForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditPersonModal" tabindex="-1" aria-labelledby="EditPersonModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditPersonModalLabel">Edit Person</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="EditPersonForm">
      </div>
    </div>
  </div>
</div>