<%= form_with(model: [@person, @phone_number], local: false) do |form| %>
  <div class="modal-body">
    <div class="field form-group">
      <%= form.text_field :phone_number, class:"form-control", placeholder:"Phone Number" %>
    </div>

    <div class="field form-group">
    </br>
      <%= form.text_area :comments, class:"form-control", placeholder:"Comment" %>
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
      <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>
