<div class="modal fade" id="NewPhoneModal" tabindex="-1" aria-labelledby="NewPhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NewPhoneModalLabel">New Phone Number</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="NewPhoneForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditPhoneModal" tabindex="-1" aria-labelledby="EditPhoneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditPhoneModalLabel">Edit Phone Number</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="EditPhoneForm">
      </div>
    </div>
  </div>
</div>