  <h1>Edit Password</h1>
  <%= form_with model: Current.user, url: edit_password_path do |f| %>
    <div class="field form-group">
        <%= f.password_field :password, id:"password", class:"form-control", placeholder:"Please Enter your new password" %>
    </div>
    <div class="field form-group">
        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Please confirm your password" %>
    </div>
    <div class="actions">
        <%= f.submit 'Update', class:'btn btn-secondary' %>
    </div>
  <% end %>