<div class="modal fade" id="NewEmailModal" tabindex="-1" aria-labelledby="NewEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NewEmailModalLabel">New Email</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="NewEmailForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditEmailModal" tabindex="-1" aria-labelledby="EditEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EditEmailModalLabel">Edit Email</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="EditEmailForm">
      </div>
    </div>
  </div>
</div>