<%= form_with(model: [@person, @email], local: false) do |form| %>
  <div class="modal-body">
    <div class="field form-group">
      </br>
      <%= form.text_field :email, class:"form-control", placeholder:"Email" %>
    </div>

    <div class="field">
    </br>
      <%= form.text_area :comments, class:"form-control", placeholder:"comments" %>
    </div>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
      <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>
